<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Stock Simulator</a>
    </div>

    <p class="navbar-text"><strong>
      {{date | date:'fullDate'}}</strong>
    </p>

  </div>
</nav>
