<a href="#" class="list-group-item" (click)="onSelected()">
  <span style="display: inline-block">{{symbol.name}}</span>
  <span style="display: inline-block; margin-left: 10px" class="label label-primary">{{symbol.symbol}}</span>
  <span *ngIf="dayNumber" class="badge" style="margin-left: 20px; width: 60px;" [style.background-color]="symbol.change ? (symbol.change > 0 ? 'green' : 'red') : 'gray'">{{symbol.change}} $</span>
  <span class="badge" style="margin-left: 20px; width: 60px; background-color: blue">{{symbol.price}} $</span>
  <span *ngIf="dayNumber" class="badge" style="margin-left: 20px; background-color: gray">{{getInitialValue()}} $</span>
</a>
