<section>
  <div class="list-group">
    <app-stocklist-item *ngFor="let symbol of symbols"
                        [symbol]="symbol" [dayNumber]="getCurrentDay()"
                        (symbolSelected)="onStockSymbolSelected($event)">
    </app-stocklist-item>
  </div>

  <div *ngIf="getCurrentDay() > 0" style="float: left">
    <p>Display Data From Day Number: {{getCurrentDay()}}</p>
  </div>
  <div style="float: right">
    <button type="button" class="btn btn-info" (click)="updateToNextDay()">Next day</button>
  </div>
</section>
